.an-item{
    background-color: aqua;
    height: auto;
    width: 70vw;
    display: inline-block;
}

.ind-item{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
}